@font-face {
    font-family: 'crimson-regular';
    src: url('../fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'barlow-regular';
    src: url('../fonts/BarlowCondensed-Regular.ttf') format('truetype');
}